body {
    > .container {
        > .content {
            height: 100%;
            margin: 20% 0;
            > .home_text {
                @include make-xs-column(12);
                @include make-sm-column(12);
                @include make-md-column(5);
                > p {
                    margin: 0;
                    font: bold 35px $main_font;
                    text-align: center;
                }
                > a.appointment {
                    display: block;
                    width: 140px;
                    height: 40px;
                    margin: 15px auto 5px auto;
                    padding: 10px 0;
                    font: bold 13px $main_font;
                    background: $default_red;
                    color: #fff;
                    text-decoration: none;
                    text-align: center;
                    border-radius: 20px;
                    border: 2px solid $default_gray;
                    &:hover {
                        @extend .btn_transition;
                        color: $default_red;
                        border: 2px solid $default_red;
                    }
                }
                > a.client {
                    display: block;
                    width: 109px;
                    height: 40px;
                    margin: 0 auto 15px auto;
                    padding: 10px 0;
                    font: bold 13px $main_font;
                    background: $default_blue;
                    color: #fff;
                    text-decoration: none;
                    text-align: center;
                    border-radius: 20px;
                    border: 2px solid $default_gray;
                    &:hover {
                        @extend .btn_transition;
                        color: $default_blue;
                        border: 2px solid $default_blue;
                    }
                }
            }
            > .chart {
                @include make-xs-column(12);
                @include make-sm-column(12);
                @include make-md-column(7);
            }
        }
    }
}
