body {
    > #top {
        padding-top: 5%;
        padding-bottom: 5%;
        > .content {
            > .home_text {
                @include make-xs-column(12);
                @include make-sm-column(12);
                @include make-md-column(12);
                > p {
                    margin: 0;
                    font: bold 35px $main_font;
                    color: $default_gray;
                    text-align: center;
                    margin-bottom: 15px;
                }
                > a.appointment {
                    @extend .btn_default;
                    width: 140px;
                    margin: 0 auto 10px auto;
                    background: $default_red;
                    &:hover {
                        @extend .btn_transition;
                        color: $default_red;
                        border: 2px solid $default_red;
                    }
                }
                > a.client {
                    @extend .btn_default;
                    width: 109px;
                    margin: 0 auto 15px auto;
                    background: $default_blue;
                    &:hover {
                        @extend .btn_transition;
                        color: $default_blue;
                        border: 2px solid $default_blue;
                    }
                }
            }
            > .chart {
                @include make-xs-column(12);
                @include make-sm-column(10);
                @include make-md-column(8);

                @include make-xs-column-offset(0);
                @include make-sm-column-offset(1);
                @include make-md-column-offset(2);

                padding-left: 3%;
                box-shadow: 0 9px 18px rgba(0,0,0,0.2);
            }
        }
    }
    > #navigation {
        #navigation__content {
            > .navbar {
                background-color: #584B4F;
                > .navbar-collapse {
                    > ul.navbar-nav {
                        float: right;
                        margin-right: 40px;
                        font: bold 13px $main_font;
                        > li {
                            &.active {
                                > a {
                                    background-color: transparent;
                                    color: #FFBF00;
                                }
                            }
                            > a {
                                &:hover {
                                    color: #FFBF00;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
