// small devices like smartphones
@media screen and (max-width: 768px) {
    body {
        > #top {
            padding-top: 15%;
            padding-bottom: 15%;
            > .content {
                > .home_text {
                    > p {
                        font-size: 23px;
                    }
                }
            }
        }
        > section {
            padding-top: 10%;
            padding-bottom: 10%;
            > header > .heading {
                margin-bottom: 5%;
                font-size: 22px;
            }
            .howitworks__item {
                margin-top: 15px;
            }
        }
    }
}

// small devices like tablets
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        > .container {
            > .content {
                > .chart {
                    padding: 0;
                }
            }
        }
    }
}
