// small devices like smartphones
@media screen and (max-width: 768px) {
    body {
        > .container {
            > .content {
                margin: 20% 0;
                > .home_text {
                    > p {
                        font-size: 23px;
                    }
                }
                > .chart {
                    margin-top: 15px;
                }
            }
        }
    }
}

// small devices like tablets
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        > .container {
            > .content {
                > .chart {
                    padding: 0;
                }
            }
        }
    }
}
